<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>

{% block content %}
	<form method="post" action="/"> {% csrf_token %}
	    <label for="ip_address">Your IP Address: </label>
	    <input id="ip_address" type="text" name="ip_address" value="{{ ip_address }}">
	    <input type="submit" value="Submit">
	</form>
{% endblock %}
	
	<div style='color:red'>{{ invalid_ip_message }}</div>

	<div style='{{ dashboard_content_css }}'>
		<p style='text-align: center;'>
		<h2>For <b>{{ ip_address }}</b> at latitude {{ lat }}, longitude {{ lon }} in {{ city }}, {{ region_code }}</h2>
		</p>
		<p style='text-align: center;'>
		<h2>Weather: {{ temperature }}&deg; {{ weather_condition }}  <img src='{{ weather_icon_url }}' style='vertical-align: middle;'/></h2>
		</p>
		<p>
		<h2>News:</h2>
		{% for article in articles_list %}
			<p>
    		<h4><a href='{{ article.url }}' target='_blank'>{{ article.title }}</a></h4>
    		<div style='width:50%;'><img src='{{ article.image_url }}' height=50 style='float:left;' hspace='5' />
    		{{ article.description }} </div>
			</p>
			<br/>
		{% endfor %}
		</p>
	</div>

</body>
</html>